@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    color: white;
    background-color: #1f2029;
    min-height: 100vh;
    overflow-x: none;
}

p
{
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.wrapper
{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}

.container
{
    position: relative;
    max-width: calc(100% - 40px);
    width: 860px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.innerr-info
{
    position: relative;
    width: 100%;
    display: block;
}

[type="radio"]:checked, [type="radio"]:not(:checked)
{
    position: absolute;
    visibility: hidden;
}

.color-btn:checked + label, .color-btn:not(:checked) + label
{
    color: #ffeba7;
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    border: 3px solid transparent;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    background-position: center;
    background-size: cover;
    transition: all 200ms linear;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}
.color-btn:checked + label
{
    border-color: #434343;
    transform: scale(1.1);
}

label.col1
{
    margin-left: 500px;
    background-image: url("Images/color1.jpg");
}
label.col2
{
    background-image: url("Images/color2.jpg");
}
label.col3
{
    background-image: url("Images/color3.jpg");
}
label.col4
{
    background-image: url("Images/color4.jpg");
}
label.col5
{
    background-image: url("Images/color5.jpg");
}
label.col6
{
    background-image: url("Images/color6.jpg");
}

.image-chair
{
    position: absolute;
    left: 0;
    top: 100px;
    width: 500px;
    height: 410px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("Images/chair1.png");
    opacity: 0;
}
.c1:checked ~ .image-chair.chair1
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
.image-chair.chair2
{
    background-image: url("Images/chair2.png");
}
.c2:checked ~ .image-chair.chair2
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
.image-chair.chair3
{
    background-image: url("Images/chair3.png");
}
.c3:checked ~ .image-chair.chair3
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
.image-chair.chair4
{
    background-image: url("Images/chair4.png");
}
.c4:checked ~ .image-chair.chair4
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
.image-chair.chair5
{
    background-image: url("Images/chair5.png");
}
.c5:checked ~ .image-chair.chair5
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
.image-chair.chair6
{
    background-image: url("Images/chair6.png");
}
.c6:checked ~ .image-chair.chair6
{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36,0.07,0.19,0.97) both;
}
@keyframes shake
{
    10%, 90%
    {
        transform: translate3d(-1px,0,0) rotate(-1deg);
    }

    20%, 80%
    {
        transform: translate3d(2px,0,0) rotate(2deg);
    }

    30%, 50%, 70%
    {
        transform: translate3d(-3px,0,0) rotate(-3deg);
    }

    40%, 60%
    {
        transform: translate3d(3px,0,0) rotate(3deg);
    }
}

.bgcol
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: linear-gradient(196deg,#f1a9a9,#e66767);
    transition: all 250ms linear;
    transition-delay: 300ms;
    z-index: 1;
}
.bgcol.chair2
{
    background-image: linear-gradient(196deg, #4c4c4c,#262626);
    opacity: 0;
}
.c2:checked ~ .bgcol.chair2
{
    opacity: 1;
}
.bgcol.chair3
{
    background-image: linear-gradient(196deg, #8a9fb2,#5f7991);
    opacity: 0;
}
.c3:checked ~ .bgcol.chair3
{
    opacity: 1;
}
.bgcol.chair4
{
    background-image: linear-gradient(196deg, #97afc3,#6789a7);
    opacity: 0;
}
.c4:checked ~ .bgcol.chair4
{
    opacity: 1;
}
.bgcol.chair5
{
    background-image: linear-gradient(196deg, #afa6a0,#8c7f76);
    opacity: 0;
}
.c5:checked ~ .bgcol.chair5
{
    opacity: 1;
}
.bgcol.chair6
{
    background-image: linear-gradient(196deg, #aaadac,#838786);
    opacity: 0;
}
.c6:checked ~ .bgcol.chair6
{
    opacity: 1;
}

.information
{
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
}

.heading
{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
}

h2
{
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
}

h4
{
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 30px;
}

h4 span
{
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
}

h5
{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
}

.desc-btn:checked + label, .desc-btn:not(:checked) + label
{
    position: relative;
    transition: all 200ms linear;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 25px;
    opacity: 0.5;
}
.desc-btn:checked + label
{
    opacity: 1;
}
.desc-btn:not(:checked) + label:hover
{
    opacity: 0.8;
}

.desc-sec
{
    padding-top: 20px;
    padding-bottom: 30px;
    transition: all 250ms linear;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
}
.desc-sec.desc-sec-2
{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    z-index: 2;
}
#desc-1:checked ~ .desc-sec.desc-sec-1
{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
#desc-2:checked ~ .desc-sec.desc-sec-2
{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.sec-inline
{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.sec-inline p span
{
    font-size: 30px;
    line-height: 1.1;
}

.icon
{
    padding-right: 7px;
    font-size: 20px;
}

.btn
{
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    height: 48px;
    border-radius: 4;
    width: 210px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: white;
    box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
    transition: all 250 linear;
    text-decoration: none;
    margin-top: 50px;
}
.btn::before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: #944852;
    transition: bg-col 250ms 300ms ease;
}
.btn:hover
{
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    background-color: #333;
}

.c2:checked ~ .information .btn::before
{
    background-color: #1a1a1a;
}
.c3:checked ~ .information .btn::before
{
    background-color: #40566e;
}
.c4:checked ~ .information .btn::before
{
    background-color: #5e89b2;
}
.c5:checked ~ .information .btn::before
{
    background-color: #8c7f76;
}
.c6:checked ~ .information .btn::before
{
    background-color: #5d6160;
}